.projects-container {
	@apply grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 p-4;
}

.organization-project-container {
	@apply mr-4 mb-32 relative cursor-pointer rounded-3xl lg:mb-16 lg:overflow-hidden;
}

.organization-project-container img {
	@apply h-full w-full mx-auto object-cover;
}

.hover-container {
	@apply w-[90%] left-[5%] rounded-2xl lg:w-full lg:left-0 h-1/2 lg:h-2/3 -bottom-[3rem] lg:bottom-0 bg-white text-black absolute z-10 lg:opacity-80 text-center lg:p-4;
}

.hover-open {
	bottom: -20rem;
	animation: slideOpen 0.3s forwards;
}

.mobile-hover {
	@apply w-full h-2/3 bottom-0 bg-white text-black absolute z-10 opacity-80 text-center p-4 rounded-t-2xl;
}

@keyframes slideOpen {
	100% {
		bottom: 0;
	}
}
